*{
    margin: 0;
    padding: 0;
}
div.head
{
    text-align: center;
    background-color: whitesmoke;
}
div.pho
{
    background-color: white;
    text-align: center;
    padding-top: 10px;

}
img.img{
    width: 15%;
    height:5%;
}
    div.po
    {
        background-color: whitesmoke;
        text-align: center;

    }
    ul{
        margin: auto;
        width: 40%;
    }
    div.all{
        background-color: whitesmoke;
    }
    